@keyframes square-to-circle {
	0%{
		border-radius: 0 0 0 0;
		background-color: coral;
		transform: rotate(0deg);
	}
	25%{
		border-radius: 50% 0 0 0;
		background-color: darksalmon;
		transform: rotate(45deg);
	}
	50%{
		border-radius: 50% 50% 0 0;
		background-color: indianred;
		transform: rotate(90deg);
	}
	75%{
		border-radius: 50% 50% 50% 0;
		background-color: lightcoral;
		transform: rotate(135deg);
	}
	100%{
		border-radius: 50% 50% 50% 50%;
		background-color: darksalmon;
		transform: rotate(180deg);
	}
}

.element{
	width: 100px;
	height: 100px;
	background-color: blue;
	animation: square-to-circle 2s 1s infinite linear alternate;
}
