@keyframes elementFade {
	/*0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}*/

	from{
		opacitiy: 1;
	}
	to{
		opacity: 0;
	}

}

.element{
	width: 100px;
	height: 100px;
	background-color: blue;
	animation-name: elementFade;
	animation-duration: 4s;
	animation-delay: 1s;
	animation-itaration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;

	/*shorthand*/
	animation: elementFade 4s 1s infinite linear alternate;
}
