/*contenedores con sus propias clases */
.container{
  /*Obligatoria*/
  display: flex;
  background-color: black;
  border: 2px blue solid;
  min-height: 500px;

  flex-wrap: wrap;
  /*flex-flow: row-reverse wrap;*/
  /*justify-content: flex-center;*/
  /*justify-content: space-between;
  align-items: flex-end;*/
  /*align-items: stretch;*/
  align-content: flex-start;
  /*align-content: stretch;*/
}

.item{
  border: 2px purple solid;
  background-color: orange;
  /*max-height: 100px;*/
/*  flex-grow: 1;*/
}

.first{
  /*flex-grow: 2;
  flex-shrink: 2;*/
/*  flex-basis: 2 1 50%;*/
    align-self: stretch;
}

p.huge{
  font-size: 30pt;
}

/*.first{
  order: 1;
}

.middle{
  order:2;
}

.last{
  order: 3;
}*/
